@import "tailwindcss";

html, body {
  font-family: var(--font-roboto);
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
}



